@font-face {
  font-family: "iconfont"; /* Project id 5192401 */
  src: url('iconfont.woff2?t=1781169028533') format('woff2'),
       url('iconfont.woff?t=1781169028533') format('woff'),
       url('iconfont.ttf?t=1781169028533') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanchi:before {
  content: "\e68b";
}

.icon-liuliang:before {
  content: "\e609";
}

.icon-fuzhi:before {
  content: "\e621";
}

.icon-banbengengxin:before {
  content: "\e64d";
}

.icon-zuixiaohua:before {
  content: "\e6e8";
}

.icon-rizhi:before {
  content: "\e68d";
}

.icon-chuangjianfangjian:before {
  content: "\e619";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-zuidahua:before {
  content: "\e600";
}

.icon-wangluozhongduan:before {
  content: "\e666";
}

.icon-kaiguan:before {
  content: "\e615";
}

.icon-guanyu:before {
  content: "\e7e8";
}

.icon-jiarufangjian:before {
  content: "\e7c4";
}

.icon-shezhi:before {
  content: "\100c4";
}

.icon-shouye:before {
  content: "\e61d";
}

.icon-yunzhongduan:before {
  content: "\e61e";
}

.icon-yizhongduan:before {
  content: "\e61a";
}

.icon-shuaxin:before {
  content: "\e628";
}

